<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/advice/new.css" />
<%- include('../partials/nav') %>

<main class="advice-new">
  <section>
    <h1>Share some marriage advice for Eric & Inga-Liese!</h1>
    <form action="/advice" method="POST" autocomplete="off">
      <div>
        <label>Advice </label>
        <textarea name="advice"></textarea>
      </div>
      <div>
        <label>Years together </label>
        <input name="years"></input>
      </div>
      <div>
        <label>From </label>
        <input name="from" placeholder="your name(s)"></input>
      </div>
      <div>
        <button type="submit">Add Advice</button>
        <a href="/advice">Back</a>
      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>