  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a id = "home" href="/">Home</a>
    <a href="/trivia/home">Marital Mania &#128221 &#129299</a>
    <a href="/questions/home"> The Shoe Game  &#128096 &#128094 </a>
    <a href="/advice">Marriage Advice &#128157 &#128146</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
