
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  margin:  20px 0 0 0;
  display: grid;
  gap: 5px;
  width: 100vh;
  height: 10vh;
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
  border: solid 1px orange;
  grid-column: 1fr 1fr 3fr 1fr 1fr;
  padding: 0 0 5px 0;
}

.grid-item {
  text-align: center; 
  padding: 10px; 
}

.advice {
  padding: 10px;
  grid-column: 1 / span 6;
  grid-row: 1;
  background-color: rgb(255, 229, 181);
  height: 50px; 
}


.button {
  border: 1px solid orange;
  color: rgb(92, 91, 91);
  font-size: 80%;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button:hover {
 background-color: #c7c7c7;
}

.from {
  padding: 0 0 0 10px;
  grid-column: 1; 
  grid-row: 2; 
  font-size: 80%;
  color: rgb(92, 91, 91);
}

.years {
  grid-column: 2; 
  grid-row: 2; 
  font-size: 80%;
  color: rgb(92, 91, 91);
}

.edit {
  grid-column: 5; 
  grid-row: 2;
  font-size: 60%;
  color: rgb(92, 91, 91);
}

.delete {
  grid-column: 6; 
  grid-row: 2;
  font-size: 60%;
  color: rgb(92, 91, 91);
}


