body {
  background-color: rgb(255, 211, 130);
  background-image: url("data:image/svg+xml,<svg width='1800px' height='150px' xmlns='http://www.w3.org/2000/svg'><text x='0' y='130px' font-size='80px' clip-path='url(%23emojiClipPath)'>❤️🤗💋🥭💕❤️🤗💋🥭💕❤️🤗💋🥭💕❤️🤗💋🥭💕</text></svg>");
  background-repeat: repeat;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section {
  height: 87.7vh;
  width: 75vh;
  margin: 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

h1 {
  padding: 20px;
  color: #424748;
  font-size: 160%;
  text-align: center;
}

.grid-container {
  margin:  20px 0 0 0;
  display: grid;
  gap: 5px;
  width: 70vh;
  height: 10vh;
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
  border: solid 1px orange;
  grid-column: 1fr 1fr 3fr 1fr 1fr;
  padding: 0 0 5px 0;
}

.grid-item {
  text-align: center; 
  padding: 10px; 
}

.advice {
  padding: 10px;
  grid-column: 1 / span 6;
  grid-row: 1;
  background-color: rgb(255, 229, 181);
  height: 50px; 
}

.button {
  background-color: white;
  transition-duration: 0.15s;
  border: 1px solid orange;
  color: rgb(241, 60, 99);
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px; 
  margin-right: 10px;
  font-size: 100%;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 211, 130);
}

.from {
  padding: 0 0 0 10px;
  grid-column: 1; 
  grid-row: 2; 
  font-size: 80%;
  color: rgb(92, 91, 91);
}

.years {
  grid-column: 2; 
  grid-row: 2; 
  font-size: 80%;
  color: rgb(92, 91, 91);
}

.edit {
  grid-column: 5; 
  grid-row: 2;
  font-size: 60%;
}

.delete {
  grid-column: 6; 
  grid-row: 2;
  font-size: 60%;
}


