body {
  background-color: rgb(255, 211, 130);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section {
  height: 90vh;
  width: 75vh;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

h1 {
  color: #424748;
  font-size:200%;
  text-align: center;
}

div > button {
  background-color: white;
  transition-duration: 0.15s;
  border: 1px solid orange;
  color: rgb(241, 60, 99);
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px; 
  margin-right: 10px;
  font-size: 100%;
  text-decoration: none;
}

div > button:hover {
  background-color: rgb(255, 211, 130);
}