html {
  box-sizing: border-box
}

*::after { 
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    font-size: 62.5%
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(192, 136, 136);
  justify-content: center;
  color: white;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
  font-size: 500%;
}

body > nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}