<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/home.css" />
<%- include('../partials/nav') %>

<section>
<h1>Let's play some Trivia! </h1>
<div>
  <a href="/trivia/new">Add Trivia</a>
  <a href="/trivia/play">Go to Game</a>
</div>
</section>

<%- include('../partials/footer') %>