<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/home.css" />
<%- include('../partials/nav') %>

<h1>Let's play some Trivia! </h1>

<div>
<a href="/trivia/new">Add Trivia</a>
<a href="/trivia/play">Play Trivia Game</a>
</div>

<h3>so the links should be above.. </h3>

<%- include('../partials/footer') %>