<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/index.css" />
<%- include('../partials/nav') %>

<main class="trivia-index">
  <section>
    <h2>This person... </h2>
    <% trivia.forEach(el => { %>
      <p><%= el.trivia %></p>
    <% }) %>
    <a href="/trivia/home">Back</a>
  </section>
</main>
<%- include('../partials/footer') %>