<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/index.css" />
<%- include('../partials/nav') %>

<main class="trivia-index">
  <section>
    <h2>This person... </h2>
    <ul>
    <% trivia.forEach(el => { %>
      <li><%= el.trivia %></li>
    <% }) %>
    </ul>
    <a href="/trivia/home">Back</a>
  </section>
</main>
<%- include('../partials/footer') %>