<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Enter a Trivia</h1>
  <form action="/trivia" method="POST" autocomplete="off">

    <label>About
      <select name="about">
        <option value="Eric">Eric</option>
        <option value="Inga-Liese">Inga-Liese</option>
      </select>
    </label><br>

    <label>Trivia
      <textarea name="trivia"></textarea>
    </label><br>

    <button type="submit">Add Trivia</button>
  </form>
</main>

<%- include('../partials/footer') %>