<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/home.css" />
<%- include('../partials/nav') %>

<h2>I'll display one trivia at a time... you tell me who it's about. Ready? </h2>

<%- include('../partials/footer') %>