<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/home.css" />
<script type="module" defer src='/javascripts/play.js'></script>
<%- include('../partials/nav') %>

<section>
<h2 id="text">I'll display one trivia at a time... you tell me who it's about. Ready? </h2>

<button id = "button">Play!</button>
</section>

<%- include('../partials/footer') %>