body {
  background-color: rgb(255, 211, 130);
  background-image: url("data:image/svg+xml,<svg width='2000px' height='150px' xmlns='http://www.w3.org/2000/svg'><text x='0' y='130px' font-size='85px' clip-path='url(%23emojiClipPath)'>📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝</text></svg>");
  background-repeat: repeat;
}

main.trivia-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main.trivia-index section {
  height: 88vh;
  width: 65vw;
  margin: 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

main.trivia-index h2 {
  color: #424748;
  font-size: 200%;
  margin-right: 80px; 
  margin-left: 80px;
}

main.trivia-index h3 {
  color: #424748;
  font-size: 150%;
  margin-right: 80px; 
  margin-left: 80px;
}

main.trivia-index div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 45vw;
}

main.trivia-index .play-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45vw;
}

main.trivia-index p {
  padding: 5px;
  text-align: left;
  width: 80%;
  /* margin-right: 50px; */
}

main.trivia-index button, main.trivia-index a {
  background-color: white;
  transition-duration: 0.15s;
  border: 1px solid orange;
  color: rgb(241, 60, 99);
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
  font-size: 100%;
  text-decoration: none;
  margin-right: 0 auto; 
}

main.trivia-index button {
  font-size: 60%;
}

main.trivia-index a {
  margin:30px;
}

main.trivia-index a:hover, main.trivia-index button:hover{
  background-color: rgb(255, 211, 130);
}
