<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/questions/home.css" />
<%- include('../partials/nav') %>

<section>
  <h1>Let's play the Shoe Game! </h1>
  <div>
    <a href="/questions/new">Add Question</a>
    <a href="/questions/play">Play Question Game</a>
  </div>  
</section>

<%- include('../partials/footer') %>