<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/questions/new.css" />
<%- include('../partials/nav') %>

<main class = "new-question-view">
  <section>
    <h1>Enter a question for Eric & Inga-Liese!</h1>
    <form action="/questions" method="POST" autocomplete="off">
      <div>
        <label>Question</label>
        <textarea name="question"></textarea>
      </div>
      <div>
        <button type="submit">Add Question</button>
        <a href="/questions">Back</a>
      </div>
    </form>
  </section>
</main>