<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h1>Enter a question</h1>
  <form action="/questions" method="POST" autocomplete="off">

    <label>Question
      <textarea name="question"></textarea>
    </label><br>

    <button type="submit">Add Question</button>
  </form>
</main>