<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/index.css" />
<%- include('../partials/nav') %>

<main class="trivia-index">
  <section>
  <h2>I'll ask a question you've shared... Rick and Speed will tell me what they think! </h2>
  <button>Play!</button>
  </section>
</main>

<%- include('../partials/footer') %>